@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Lato', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a{
  text-decoration: none;
  color: inherit;
}


.layout-side-menu .ant-menu-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layout-side-menu .ant-menu-item .ant-menu-title-content{
  line-height: 20px;
}